
html,
body {
  height: 200 px;
}
#fondo{ 
  background-color: rgb(245, 245, 245);
}



.col-{
    text-decoration: none;
    padding: 10px;
}



@media only screen and (max-width: 600px){
    .col- {width: 100%;}
}

main .contenido iframe{
    width: 100%;
}

footer{
    background-color:rgb(43, 38, 38);
}

footer p{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 2%;
}

#welcome {
    display: flex;
    align-items: center;
    padding-top: 40px;
    
  }

  #activities {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding: 10px;
  }
  
  .form-menu {
    width: 100%;
    max-width: 1140px;
    padding: 30px;
    margin: auto;
   
  }

  #activities .activity-list {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-gap: 2rem;
      margin-top: 2rem;
  }
 
 #carrusel{
    max-width:400px; 
    max-height:300px;

  }

  .actividad {
   
  
    max-height:150px;
  }